{% extends "base.html" %}
{% block body %}
<section class="hero is-white is-medium">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://github.com/anfederico/Flaskex/raw/master/media/flaskex-logo.png" alt="Flaskex">
        <h6 href="/" class="subtitle"><strong>Basic Web</strong></h6>
      </a>

    </div>
    
  </nav>
</section>
<title>Basic Web</title>
<section class="hero is-primary is-bold is-medium">
  
  <div class="hero-body">
    
    <div class="container has-text-centered">
      <div>
        <p class="subtitle is-4"><i>Sentiment Analysis of Vaccine Incentives</i></p>

      <div>
      <div class="columns">
        <div class="column is-auto">

          <div class="dropdown" id="dropdown_1">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Dropdown button</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>

            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="#" class="dropdown-item">
                  Dropdown item
                </a>
                <a class="dropdown-item">
                  Other dropdown item
                </a>
                <a href="#" class="dropdown-item is-active">
                  Active dropdown item
                </a>
                <a href="#" class="dropdown-item">
                  Other dropdown item
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                  With a divider
                </a>
              </div>
            </div>
          </div>

          <div class="dropdown" id="dropdown_2">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Dropdown button</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="#" class="dropdown-item">
                  Dropdown item
                </a>
                <a class="dropdown-item">
                  Other dropdown item
                </a>
                <a href="#" class="dropdown-item is-active">
                  Active dropdown item
                </a>
                <a href="#" class="dropdown-item">
                  Other dropdown item
                </a>
                <hr class="dropdown-divider">
                <a href="#" class="dropdown-item">
                  With a divider
                </a>
              </div>
            </div>
          </div>

          <br><br><br><br><br><br><br><br><br><br><br>       
        </div>
          
        <div class="column is-auto">
           <p class="title is-2">Area to Display Information</p>
        </div>
      </div>
    </div>  
  </div>
</section>
{% endblock %}

<section class="hero">
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Natural Language Processing</strong> by Team NLP
          <span class="icon is-small">
            <i class="fa fa-copyright"></i>
          </span>2017</a>
        </p>
        <p>
          <a class="icon has-text-primary" href="https://github.com/anfederico" target="_blank">
            <i class="fa fa-globe"></i>
          </a>          
          <a class="icon has-text-primary" href="https://github.com/anfederico" target="_blank">
            <i class="fa fa-github"></i>
          </a>
          <a class="icon has-text-primary" href="mailto:anfederico@github.user" target="_blank">
            <i class="fa fa-envelope"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
</section>

<p class="title is-2">Basic Web</p>
          <p class="subtitle is-4"><i>Flask Template for Sentiment Analysis</i></p>
          <p class="subtitle is-5">&#x2022 Analyzes Vaccine Incentive Tweets</p>
          <p class="subtitle is-5">&#x2022 Perform Sentiment Analysis</p>
          <p class="subtitle is-5">&#x2022 Measure Public Response</p> 

{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
