{% extends "base.html" %}
{% block body %}
<section class="hero is-white is-medium">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://static.thenounproject.com/png/1409678-200.png" alt="logo">
        <h6 href="/" class="subtitle"><strong>NLP Vaccine Analysis</strong></h6>
      </a>

    </div>
    
  </nav>
</section>
<title>NLP Web App</title>
<section class="hero is-primary is-bold is-halfheight">
  
  <div class="hero-body" id="body_banner">
    
    <div class="container has-text-centered">
      <div>
        <p class="subtitle is-4" id="head_title"><i>A web application that applies natural language processing analysis on COVID-19 vaccine incentives</i></p>
      <div>
   
      <div class="columns">
        <div class="column is-auto" >
          <div class="dropdown" id="dropdown_1">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span> States </span>
                <span class="icon is-small">
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="#" class="dropdown-item">
                  California
                </a>
                <a class="dropdown-item">
                  Ohio
                </a>
                <a href="#" class="dropdown-item is-active">
                  Minnesota
                </a>
                <a href="#" class="dropdown-item">
                  West Virginia
                </a>
              </div>
            </div>
          </div>

          <div class="control">

            <label class="radio" id="myDIV">
              <input type="radio" name="answer">
              Tweepy Method
            </label>
            
            <label class="radio">
              <input type="radio" name="answer">
              Selenium Method
            </label>

                                  <div id="myDIV">Hover over me.</div>


            <div class="hide">I am shown when someone hovers over the div above.</div>

            <br>
            
          </div>

        </div>
          
        <div class="column is-auto">
          <p class="title is-4">Graph of Incentives</p>
          <object data="/plot.png">
            <img src="https://static.thenounproject.com/png/1409678-200.png" alt="Graph of Incentives">
          </object>
        </div>
      </div>

      <div class="rows" >
        <div class="row is-auto" style="background:black">asdf
        </div>

      </div>
    </div>  
  </div>
</section>
{% endblock %}

<section class="hero">
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Natural Language Processing</strong> by Team NLP
          <span class="icon is-small">
            <i class="fa fa-copyright"></i>
          </span>2017</a>
        </p>
        <p>
          <a class="icon has-text-primary" href="https://github.com/anfederico" target="_blank">
            <i class="fa fa-globe"></i>
          </a>          
          <a class="icon has-text-primary" href="https://github.com/anfederico" target="_blank">
            <i class="fa fa-github"></i>
          </a>
          <a class="icon has-text-primary" href="mailto:anfederico@github.user" target="_blank">
            <i class="fa fa-envelope"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
</section>

<p class="title is-2">Basic Web</p>
          <p class="subtitle is-4"><i>Flask Template for Sentiment Analysis</i></p>
          <p class="subtitle is-5">&#x2022 Analyzes Vaccine Incentive Tweets</p>
          <p class="subtitle is-5">&#x2022 Perform Sentiment Analysis</p>
          <p class="subtitle is-5">&#x2022 Measure Public Response</p> 

{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
