{% extends "base.html" %}
{% block body %}
<section class="hero is-white is-medium">
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="https://static.thenounproject.com/png/1409678-200.png" alt="logo">
        <h6 href="/" class="subtitle"><strong>NLP Vaccine Analysis</strong></h6>
      </a>
    </div> 
  </nav>
</section>
<title>NLP Web App</title>
<section class="hero is-halfheight">
  
  <div class="hero-body" id="body_banner" style="background-color:lightblue">
    
    <div class="container has-text-centered">
      <div>
        <p class="subtitle is-4" id="head_title"><i>A web application that applies natural language processing analysis on COVID-19 vaccine incentives</i></p>
      <div>
   
      <div class="rows">
        <div class="row is-auto" >
          <div class="dropdown" id="dropdown_1">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span> States </span>
                <span class="icon is-small">
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div clas s="dropdown-content">
                <a href="#" class="dropdown-item">
                  California
                </a>
                <a class="dropdown-item">
                  Ohio
                </a>
                <a href="#" class="dropdown-item is-active">
                  Minnesota
                </a>
                <a href="#" class="dropdown-item">
                  West Virginia
                </a>
              </div>
            </div>
          </div>
          
        <div class="row is-auto">

          <canvas id="myChart"></canvas>

            <script>
              var behaviorColorArray = [
                '#09539D', '#BAEBF7', '#54B4D4', '#FC043C', '#DEAD2F',
                '#C5868C', '#7FD1C6', '#CB586F', '#D9364A', '#4DF7CC',
                '#EA7E26', '#FCF4A4', '#04BCDC', '#EFB690', '#DAC423',
                '#81A7C6', '#5C9C8C', '#A0DCBB', '#064046', '#344CC4'
              ];

              var emotionColorArray = [
                '#DF0404', '#D1BD91', '#A105FB', '#E1D18E', '#F9BD14',
                '#FCDC82', '#EBED0A', '#FCA404', '#FC941C', '#F1D98A',
                '#F49434', '#FCF1BB', '#E15219', '#FAFA04', '#CA5D9E',
                '#EF5528', '#ECB59E', '#FCDABB', '#F6DA2A', '#D37451'
              ];

            var labels = [
              {% for item in labels %}
                          "{{ item }}",
                          {% endfor %}
            ];

            const data = {
              labels: labels,
              datasets: [{
                label: 'Distribution of Sentiments',
                backgroundColor: 'DeepSkyBlue',
                borderColor: 'rgb(0, 255, 255)',
                borderWidth: 0.5,
                data: [{% for item in values %}
                              "{{ item }}",
                              {% endfor %}],
              }],
            };
            </script>
          
        </div>

        <div class="row is-auto">

          <canvas id="myPie"></canvas>

            <script>
            var labels2 = [
              {% for item in behav %}
                          "{{ item }}",
                          {% endfor %}
            ];

            const data2 = {
              labels: labels2,
              datasets: [{
                label: 'Distribution of Sentiments',
                backgroundColor: behaviorColorArray,
                borderColor: behaviorColorArray,
                data: [{% for item in behav_percent %}
                              "{{ item }}",
                              {% endfor %}],
              }],
            };
      
            </script>
          
        </div>

          <div class="row is-auto">

          <canvas id="myPie2"></canvas>

          <script>
            var labels3 = [
              {% for item in emot %}
                          "{{ item }}",
                          {% endfor %}
            ];

            const data3 = {
              labels: labels3,
              datasets: [{
                label: 'Distribution of Emotions',
                backgroundColor: emotionColorArray ,
                borderColor: emotionColorArray ,
                data: [{% for item in emot_percent %}
                              "{{ item }}",
                              {% endfor %}],
              }],
            };
            
          </script>
          
        </div>
        <div class="row is-auto">
          <p class="title is-4">Graph of Incentives</p>
          <object data="/plot.png">
            <img src="https://static.thenounproject.com/png/1409678-200.png" alt="Graph of Incentives">
          </object>
        </div>
      </div>
    </div>  
  </div>
</section>
{% endblock %}

<section class="hero">
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Natural Language Processing</strong> by Team NLP
          <span class="icon is-small">
            <i class="fa fa-copyright"></i>
          </span>2017</a>
        </p>
        <p>
          <a class="icon has-text-primary" href="https://github.com/anfederico" target="_blank">
            <i class="fa fa-globe"></i>
          </a>          
          <a class="icon has-text-primary" href="https://github.com/anfederico" target="_blank">
            <i class="fa fa-github"></i>
          </a>
          <a class="icon has-text-primary" href="mailto:anfederico@github.user" target="_blank">
            <i class="fa fa-envelope"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
</section>

<div class="control">

            <label class="radio" title="More efficient using Tweepy Api">
              <input type="radio" name="answer" >
              Tweepy Method
            </label>
            
            <label class="radio" title="Takes longer using Selenium Webscraping">
              <input type="radio" name="answer" >
              Selenium Method
            </label>
            <br>
          </div>
        </div>

<p class="title is-4">Graph of Incentives</p>
          <object data="/plot.png">
            <img src="https://static.thenounproject.com/png/1409678-200.png" alt="Graph of Incentives">
          </object>

{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
